#app {
  transition: $defaultTransition;
}

.appFull {
  padding-left: 0;

  #navbar {
    @extend .navbarHidden;
  }
}

.appActive {
  padding-left: 150px;

  #navbar {
    @extend .navbarActive;
  }
}

.appInactive {
  padding-left: 50px;

  #navbar {
    @extend .navbarInactive;
  }
}
