@mixin flexCenter($direction, $justifyContent, $alignContent) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignContent;
  flex-wrap: wrap;
}

@mixin mainButton() {
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 45px;
  margin: 10px 0;
  padding: 3px;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  border: 1px solid grey;
  transition: $defaultTransition;
  cursor: pointer;

  &:hover {
    box-shadow: none;
    transition: $defaultTransition;
  }
}

@mixin fullOverlay($width, $height) {
  position: fixed;
  left: 0;
  top: 0;
  width: $width;
  height: $height;
  z-index: 9;
  transition: $defaultTransition;
}
