#popup {
  @include fullOverlay(100%, 100vh);
  @include flexCenter(column, center, center);
  z-index: 10;

  #popupBody {
    @include flexCenter(column, space-around, center);
    width: 30%;
    height: 30vh;
    border-radius: 10px;
  }

  h2 {
    font-weight: lighter;
    letter-spacing: 0.9px;
    font-size: 1.6rem;
    width: 300px;
    height: 100px;
    text-align: center;
  }
}

