#settings {
  @include fullOverlay(30%, 100%);

  .disablePanel {
    background: none;
    border: none;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

#settingsBody {
  height: 100%;
  transition: $defaultTransition;

  header {
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 600;
  }

  div {
    margin-top: 10px;
    @include flexCenter(column, flex-start, center);
  }
}
