.appDark {
  color: $darkColor;
  background: $darkBackground;

  a {
    color: $darkColor;
  }

  #navbar {
    background: rgba(105, 105, 105, 0.7);
  }

  #settings {
    background: rgba(105, 105, 105, 0.7);
  }

  #settingsBody {
    background: rgba(105, 105, 105, 0.7);
  }

  #popup {
    background: rgba(105, 105, 105, 0.7);
  }

  #popupBody {
    background: linear-gradient(
      330deg,
      $mainColor 2%,
      rgba(105, 105, 105, 0.7) 99%
    );
  }

  .mainButton {
    background: rgba(211, 211, 211, 0.3);
  }
}

.appLight {
  color: $lightColor;
  background: $lightBackground;

  a {
    color: $lightColor;
  }

  #navbar {
    background: rgba(255, 255, 255, 0.7);
  }

  #settings {
    background: rgba(255, 255, 255, 0.7);
  }

  #settingsBody {
    background: rgba(255, 255, 255, 0.7);
  }

  #popup {
    background: rgba(255, 255, 255, 0.7);
  }

  #popupBody {
    background: linear-gradient(
      330deg,
      $mainColor 2%,
      rgba(255, 255, 255, 0.7) 10%
    );
  }

  .mainButton {
    background: rgba(211, 211, 211, 0.3);
  }
}
