.app {
  transition: 0.5s all ease-in-out;
}

.appFull {
  padding-left: 0;
}
.appActive {
  padding-left: 150px;
}
.appInactive {
  padding-left: 50px;
}
.mainButton {
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 45px;
  margin: 10px 0;
  padding: 3px;
  font-size: 2.1rem;
  letter-spacing: 1.5px;
  border: 1px solid grey;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 900px) {
  .mainButton:hover {
    box-shadow: none;
    transition: 0.5s all ease-in-out;
  }
}

.fullPage, #home {
  width: 100%;
  height: 100vh;
}

.hidden, .navbarHidden span, .appFull #navbar span, .navbarInactive:not(:hover) span, .appInactive #navbar:not(:hover) span {
  opacity: 0;
  pointer-events: none;
  color: transparent;
  transition: 0.5s all ease-in-out;
}

.appDark {
  color: white;
  background: dimGrey;
}
.appDark a {
  color: white;
}
.appDark #navbar {
  background: rgba(105, 105, 105, 0.7);
  box-shadow: 3px 0 10px rgb(249, 103, 59);
}
.appDark #settings {
  background: rgba(105, 105, 105, 0.7);
  box-shadow: 3px 0 10px rgb(249, 103, 59);
}
.appDark #settingsBody {
  background: rgba(105, 105, 105, 0.7);
}
.appDark #popup {
  background: rgba(105, 105, 105, 0.7);
}
.appDark #popupBody {
  background: linear-gradient(330deg, rgb(249, 103, 59) 2%, rgba(105, 105, 105, 0.7) 99%);
  box-shadow: 3px 0 10px rgb(249, 103, 59);
}
.appDark .mainButton {
  background: rgba(211, 211, 211, 0.7);
}

.appLight {
  color: black;
  background: white;
}
.appLight a {
  color: black;
}
.appLight #navbar {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 0 10px rgb(249, 103, 59);
}
.appLight #settings {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 0 10px rgb(249, 103, 59);
}
.appLight #settingsBody {
  background: rgba(255, 255, 255, 0.7);
}
.appLight #popup {
  background: rgba(255, 255, 255, 0.7);
}
.appLight #popupBody {
  background: linear-gradient(330deg, rgb(249, 103, 59) 2%, rgba(255, 255, 255, 0.7) 99%);
  box-shadow: 3px 0 10px rgb(249, 103, 59);
}
.appLight .mainButton {
  background: rgba(211, 211, 211, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: white;
}
body a {
  text-decoration: none;
}

#popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  transition: 0.5s all ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
}
#popup #popupBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  height: 30vh;
  border-radius: 10px;
}
#popup h2 {
  font-weight: lighter;
  letter-spacing: 0.9px;
  font-size: 1.6rem;
  width: 300px;
  height: 100px;
  text-align: center;
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0;
  transition: 0.5s all ease-in-out;
  z-index: 8;
}
#navbar button {
  background: none;
  border: none;
  cursor: pointer;
}

#navbarBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100% - 70px);
  padding: 10px 0 10px 0;
  width: 100%;
  flex-wrap: nowrap;
  font-size: 1.1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
#navbarBody h4 {
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
#navbarBody a:hover {
  color: rgb(249, 103, 59);
}
#navbarBody::-webkit-scrollbar {
  width: 0;
}
#navbarBody * {
  transition: 0.5s all ease-in-out;
}

.navbarActive, .appActive #navbar {
  transition: 0.5s all ease-in-out;
  width: 150px;
  box-shadow: 3px 0 10px rgb(249, 103, 59);
}
.navbarActive #navToggle, .appActive #navbar #navToggle {
  left: 50px;
}

.navbarInactive, .appInactive #navbar {
  transition: 0.5s all ease-in-out;
  width: 50px;
  box-shadow: 3px 0 10px rgb(249, 103, 59);
}
.navbarInactive #navToggle, .appInactive #navbar #navToggle {
  left: 0;
}
.navbarInactive:hover, .appInactive #navbar:hover {
  width: 150px;
}

.navbarHidden, .appFull #navbar {
  transition: 0.5s all ease-in-out;
  width: 75px;
  left: -75px;
}
.navbarHidden #navToggle, .appFull #navbar #navToggle {
  left: 0;
}
#navToggle {
  position: fixed;
  bottom: 10px;
  width: 45px;
  height: 45px;
  font-size: 1.6rem;
}

.navIcon {
  font-size: 2.3rem;
  color: rgb(249, 103, 59);
  border-radius: 50%;
  background-size: 100% 100%;
  transition: 0.5s all ease-in-out;
}

#settings {
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 9;
  transition: 0.5s all ease-in-out;
}
#settings .disablePanel {
  background: none;
  border: none;
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#settingsBody {
  height: 100%;
  transition: 0.5s all ease-in-out;
}
#settingsBody header {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 600;
}
#settingsBody div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=index.css.map */
