* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: white;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  color: transparent;
  transition: $defaultTransition;
}
