@mixin flexCenter($direction, $justifyContent, $alignContent) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignContent;
  flex-wrap: wrap;
}

@mixin fullPage() {
  height: 100vh;
  width: 100%;
  overflow-x: hidden !important;
  &::-webkit-scrollbar {
    width: 15px;
    border-radius: 50px;
    background: grey;
  }

  &::-webkit-scrollbar-thumb {
    background: $mainColor;
    border-radius: 50px;

    &:hover {
      background: white;
    }
  }
}

@mixin mainButton() {
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 45px;
  padding: 3px;
  font-size: x-large;
  margin: 10px 0;
  color: white;
  letter-spacing: 1.5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: $defaultTransition;
  cursor: pointer;
  @media only screen and (min-width: 900px) {
    &:hover {
      box-shadow: none;
      transition: $defaultTransition;
    }
  }
}

@mixin fullOverlay() {
  @include flexCenter(column, flex-start, center);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
