@mixin flexCenter($direction, $justifyContent, $alignContent) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignContent;
  flex-wrap: wrap;
}

@mixin mainButton() {
  width: 80%;
  min-width: 150px;
  max-width: 300px;
  height: 45px;
  padding: 3px;
  font-size: 2.1rem;
  margin: 10px 0;
  letter-spacing: 1.5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px #888888;
  transition: $defaultTransition;
  cursor: pointer;
  @media only screen and (min-width: 900px) {
    &:hover {
      box-shadow: none;
      transition: $defaultTransition;
    }
  }
}
