.mainButtonDark {
  @include mainButton();
  color: white;
  background: darkgrey;
}

.mainButtonLight {
  @include mainButton();
  color: black;
  background: dimgrey;
}

.fullOverlay {
  @include flexCenter(column, flex-start, center);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
